name: C/C++ CI

on:
  push:
    branches: [ "master" ]
  pull_request:
    branches: [ "master" ]

jobs:
  build:
    runs-on: ubuntu-latest

    steps:
      - name: Checkout repository
        uses: actions/checkout@v4

      - name: Install dependencies
        run: |
          sudo apt update
          sudo apt install -y clang-format clang-tidy cmake ninja-build gcovr lcov

      - name: Check formatting
        run: ./Algorithms_C/scripts/check-format.sh

      - name: Configure
        run: cmake -S . -B build -G Ninja

      - name: Build
        run: cmake --build build

      - name: Run clang-tidy
        run: cmake --build build --target clang-tidy

      - name: Run unit tests
        run: ctest --test-dir build --output-on-failure

      - name: Build stress tests
        run: cmake --build build --target stress

      - name: Run stress tests
        run: ./build/Algorithms_C/sorting_stress
        shell: bash

      - name: Generate coverage report
        run: ./Algorithms_C/scripts/run_coverage.sh
